{% extends '@layout/sidebar.html.twig' %}

{% block title 'Info' %}

{% block content %}
<table class="table table-bordered table-sm caption-top">
    <caption>
        <i class="fas fa-bookmark"></i>
        Feature id: <span></span>
    </caption>
    <tbody>
        {% for column in table.table.columns | filter(c => c.name != table.primaryKey and c.name not in table.columns.geometry) %}
        <tr data-name="{{ column.name }}" data-datatype="{{ column.type.name }}" {{ column.name in table.columns.file|keys ? 'data-file="1"' : '' }}>
            <th>{{ column.name }}</th>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-small"></div>
{% endblock %}