{% extends '@layout/sidebar.html.twig' %}

{% block title 'Info' %}

{% block content %}
<table class="table table-bordered table-sm caption-top">
    <caption>
        <i class="fas fa-bookmark"></i>
        Feature id: <span></span>
    </caption>
    <tbody>
        {% for column in table.columns %}
        <tr data-name="{{ column.name }}">
            <th>{{ column.name }}</th>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}