<div class="sidebar-pane" id="about">
    <h1 class="sidebar-header">
        About
        <span class="sidebar-close"><i class="fas fa-caret-left"></i></span>
    </h1>
    <h2 class="h3 mt-3">
        Manager
    </h2>
</div>
