@use "bootstrap";
@use "openlayers";
@use "table";
@use "map/sidebar";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
  // min-height: 350px;
}
