@use "bootstrap";
@use "openlayers";
@use "table";
@use "map/sidebar";

@import "../../node_modules/@geo6/overlay-image-preview/dist/overlay.css";
@import "../../node_modules/filepond/dist/filepond.css";
@import "../../node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
  min-height: 350px;
}
