@import "global";

#table-wrapper {
    max-height: 80vh;
    overflow: auto;

    .table > thead > tr > th > a {
        color: inherit;
        text-decoration: none;

        & > .fas {
            margin-left: 10px;
        }
    }
}
